@mixin flex ($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin text-style ($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}