@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/topography' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  .delete {
    display: flex;
    justify-content: center;
  
    &__btn {
      border: 0px;
      padding: 0.7rem 1rem;
      border-radius: 1rem;
      background-color: black;
      color: blue;
      font-size: 1rem;
      margin: 0.6rem;
  
      &:hover {
        background-color: blue;
        color: black;
        transition: 0.8s;
      }
    }
  
    &__title {
      padding: 1rem;
      padding-left: 3.4rem;
    }
  
    &__btnContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 14rem;
    }
  }
  