@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/topography' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  .background {
  background-color: beige;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(93.5%);
//   background-image: url("../assets/images/bubbles.jpg");
}

.home {
  &__navbarList {
    display: flex;
    justify-content: space-evenly;
  }

  &__navbarItem {
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color: beige;
    &:hover {
      font-size: 2rem;
      transition: 1s;
    }
  }

  &__text {
    font-size: 3rem;
    color: black;
  }
  &__textContainer {
    height: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    cursor: pointer;
    background-color: blue;
    font-size: 16px;
    border-radius: 50%;
    width: 103px;
    height: 98px;
    border: 1px transparent;
    color: alabaster;
    &:hover {
      background-color: #008cba;
      color: white;
      transition: 1s;
      font-size: 16px;
      border-radius: 50%;
      width: 103px;
      height: 98px;
    }
  }
}